body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #e6bb94;
    color:#30525b;
    padding: 20px 0 28px 0;
    margin: 0;
  }
  
  .title {
    max-width: 450px;
    padding: 20px;
    margin: 30px auto;
    text-align: center;
    color: #fae6d9;
    background-color: #b86d41;
    font-weight: normal;
    font-size: 1.8rem;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .1);
  }
  
  .patient-info {
    max-width: 850px;
    padding: 20px;
    margin: 30px auto;
    color:#1c3b3f;
    background-color: #fae6d9;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .1);
    overflow: hidden;
  }
  
  .conditions-list {
    max-width: 650px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 0px;
    color:#1c3b3f;
    background-color: #fae6d9;
    overflow: hidden;
  }
  
  .footer {
    text-align: center;
    font-size: .8rem;
    color: #fae6d9;
    margin: 0;
  }