body {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(48, 62, 97);
    color:rgb(23, 29, 44);
    padding: 20px 0 28px 0;
    margin: 0;
  }
  
  .title {
    max-width: 450px;
    padding: 20px;
    margin: 30px auto;
    text-align: center;
    color: rgb(235, 235, 235);
    background-color: rgb(96, 101, 128);
    font-weight: normal;
    font-size: 1.8rem;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .1);
  }
  
  .patient-info {
    max-width: 850px;
    padding: 20px;
    margin: 30px auto;
    color:rgb(23, 29, 44);
    background-color: #FFF;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .1);
    overflow: hidden;
  }
  
  .conditions-list {
    max-width: 650px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 0px;
    color:rgb(23, 29, 44);
    background-color: #FFF;
    overflow: hidden;
  }
  
  .footer {
    text-align: center;
    font-size: .8rem;
    color: rgb(235, 235, 235);
    margin: 0;
  }